.directoriesTable th, .directoriesTable td {
    vertical-align: middle;
}

.directoriesTable td.spaceused, .directoriesTable td.costs, .directoriesTable td.actions {
    text-align: center;
}

.directoriesTable .action:hover {
    cursor: pointer;
}

.member-chip {
    margin: 3px;
}

